
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-head{
    background-color: #212121;
    color: #ffffff;
}

#logo{
    max-width: 5%;
    max-height: 5%;
    margin-left: 1%

}
body{
    background-color: #383838;
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
}

nav li a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 50%;
}

nav li :hover{
    color: #3388BB;
}

/* partie mon compte*/
#didi{
    position: relative;
    padding-top: 40px;
    border-top: 3px solid #ededed;
}
#sect{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    
    border-radius: 1.5% 1.5%;
    background-color: #fefefe;
    padding: 2% 7% 2% 7%;
}

h3{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: white;
}

@media only screen and (max-width:800px) {
 body {
 background-color:red;
 color:white
 }
}
