.div_page{
    width: 80%;
    margin: auto;
}

.bienvenue{
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: white; 
	text-align: center;
	font-weight: 300;
	font-size: 1.9rem;
}

.DernierResultat{ 
	color: white;
	margin:0;
	font-weight: 200;
}

.Test p, a {    /*premier test qui apparaît, changer date en vraie date du test*/
	color: #003845;
	margin:0;
	font-weight: 200;
}


.bouton{                   /*Tests les moins récents*/
	display: inline-block;
	box-sizing: border-box;
	border-radius: 2rem;
	padding: 1rem 1rem;
	width: 100%;
	margin-top: 10rem;
	margin-bottom: 10rem;					/*Truc à changer si ça marche pas sur tout l'écran*/
	background: white; 
	color: #003845;
	text-decoration:none;
	text-align: center;
}






