.div_page{
    width: 80%;
    margin: auto;
}

.bienvenue{
	margin-top: 2rem;
	color: white; 
	text-align: center;
	font-weight: 300;
	font-size: 1.4rem
}

.div_page header {
	margin-bottom: 2rem;
}

.DerniersResultats{ 
	color: white;
	margin:0;
	font-weight: 300;
}

.graph {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.graph h4{
	text-align: center;
	color: white;
	font-weight: 100;
	margin: 0;
}

.graph img{
	display: block;
	width: 80%;
	margin:auto;
}

.bouton{                   /*Tests les moins récents*/
	display: inline-block;
	box-sizing: border-box;
	border-radius: 2rem;
	padding: 0.5rem;
	width: 100%;
	margin-top: 1rem;						/*Truc à changer si ça marche pas sur tout l'écran*/		
	background: white; 
	color: #003845;
	text-decoration:none;
	text-align: center;
}

.bouton:hover {
	color: #00A3B8;
} 

.tests {
	margin-bottom: 5rem;
}
