.div_page{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.div_page header h2 {
    margin: 2rem;
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

/* On enlève tout le style par défaut des boutons */
button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    font: inherit;
    cursor: pointer;
    text-align: center;
}
button:hover,button:focus {
    outline: none
}
button:active {
    transform: scale(0.99);
}
/* On enlève tout le style par défaut des boutons */

#ajout{
	border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(../vues/img/expand.png);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-color: #C4C4C4;
}

/* ================= PARTIE AJOUT ================= */

#ajout .ligne {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#ajout .ligne p {
    margin-top: 0;
    margin-bottom: 0;
}

#ajout .info{
    display:block;
    float:left;
    width:14rem;
    margin-right: 0.5rem;
}

#ajout .special_size_inputs  {
    width: 100%;
}

#ajout select {
    box-sizing:border-box;
    padding:0.5rem;
    border:none;
    border-radius:0.25rem;
    background-color:#DDD;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    padding-right: 1.75rem;
}

#ajout .bloc_boutons {
    width:100%;
}

#ajout .bloc_boutons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#ajout .bloc_boutons label {
    display: inline-block;
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.25rem;
}

#ajout .bloc_boutons input[type="radio"]:checked + label {
    color: white;
    background-color: black;
    border-color: black;
}

#ajout .bloc_boutons button:hover, .bloc_boutons button:active {
    color: white;
    background-color: black ;
}

#ajout .bloc_add {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#ajout #add{
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0.25rem;
    background-color: #B8B8B8;
    box-sizing: border-box;
    padding: 0.5rem 1.75rem;
}


/* =============================== */

#ajout .indication {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
}

form h3 {
    margin : 0.5rem 0;
}

.partie {
    margin-bottom : 2rem;

}

/*  === Ligne AutRes === */

#ligneAutRes {
    display : flex;
    align-items: center;
    flex-wrap: wrap;
}

#ligneAutRes .nom {
    display : flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

#ligneAutRes .label_info{
    display : block;
    min-width: 5rem;
}
/*  === Ligne AutRes === */

.capteur p{
    margin-right: 2rem;
}