#recherche form h3{
	font-weight: bold;
	margin: 0;
	margin-bottom: 0.5rem;
}

#recherche .barre_recherche {
	margin-bottom: 1rem;
	border:none;
	border-radius:0.25rem;
	background-color:#DDD;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

#recherche .barre_recherche input{
	box-sizing:border-box;
	padding: 0.5rem;
	border:none;
	border-radius: 0.25rem 0 0 0.25rem;
	background: none;
	font-size: 1rem;

	/* Firefox */
	width: -moz-calc(100% - 2rem);
	/* WebKit */
	width: -webkit-calc(100% - 2rem);
	/* Opera */
	width: -o-calc(100% - 2rem);
	/* Standard */
	width: calc(100% - 2rem)
}

#recherche .barre_recherche button[type="submit"] {
	width: 2rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recherche .barre_recherche button[type="submit"] img {
	height:1rem;
}

#recherche form label{
	font-weight: bold;
	margin-right: 1rem;
}

#recherche form select{
	background-color: #B8B8B8;
	box-sizing: border-box;
	border:none;
	padding: 0.25rem;
	font-size: 1rem;
	font-weight: 200;
}

#recherche form .filtres {
	margin-bottom: 1rem;
}

#recherche form #test_number{
	width:10%;
}

#recherche table{
	background-color:#DDD;
	border:1px solid black;
}

#recherche th{
	border:1px solid black;
}