.div_page{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.div_page h4{
	color: white;
    text-align: center;
    font-size: 1.1rem;
}

/* On enlève tout le style par défaut des boutons */
button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    font: inherit;
    cursor: pointer;
    text-align: center;
}
button:hover,button:focus {
    outline: none
}
button:active {
    transform: scale(0.99);
}
/* On enlève tout le style par défaut des boutons */


.bandeau {
	margin: 0;
    padding: 0.5rem 1rem ;
    padding-right: 0.4rem;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.bandeau:hover {
	background: white;
}

.bandeau:active {
    color: white;
    transform: none;
}

.bandeau h3 {
    font-size: 1.1rem;
    margin:0;
    color: black;
}

.bandeau h3:hover, .bandeau h3:active {
    color: #00A3B8;
}

.fleche_expand {
    height: 0.6rem;
}

.fleche_expand_down {
    height: 0.6rem;
    transform: rotate(180deg);
}

.bloc {
    margin-bottom: 1rem;
}

.dropdown-content {
    /**display: none;    paramètre passé dans le html pour fonctionner avec la fonction js**/
    background-color: white;
    margin:0;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
}

select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(../vues/img/expand.png);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-color: #C4C4C4;
}


/* ================= PARTIE AJOUT ================= */

#ajout .indication {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1rem;
}

#ajout .ligne {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#ajout .ligne p {
	margin: 0;
}

#ajout .ligne.boutons {
	margin: 0 /*Le margin est appliqué aux boutons plutôt qu'à la ligne pour qu'ils ne soient pas collés lorsqu'ils sont sur deux lignes*/
}

#ajout .info{
	display:block;
	float:left;
	width:14rem;
	margin-right: 0.5rem;
}

#ajout .info strong{
	font-size:12px;
	font-weight:normal;
	color: red;
}

#ajout .bloc_boutons {
	width:100%;
}

#ajout .bloc_boutons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#ajout .bloc_boutons label {
	display: inline-block;
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 0.25rem;
}

#ajout .bloc_boutons input[type="radio"]:checked + label {
    color: white;
    background-color: black;
    border-color: black;
}

#ajout .bloc_boutons button:hover, .bloc_boutons button:active {
	color: white;
	background-color: black ;
}

#ajout input, #ajout select {
	box-sizing:border-box;
	padding:0.5rem;
	border:none;
	border-radius:0.25rem;
	background-color:#DDD;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

#ajout input {
	width: 100%;
}

#ajout select{
	padding-right: 1.75rem;
}

#ajout .special_size_inputs  {
	width: 100%;
}

#ajout .special_size_inputs input[maxlength='4'] {
	width: 3rem;
}
#ajout .special_size_inputs input[maxlength='6'] {
	width: 4rem;
}
#ajout .special_size_inputs input[maxlength='25'] {
	width: 6rem;
}
#ajout .special_size_inputs input[maxlength='30'] {
	width: 15rem;
}
#ajout .special_size_inputs input[maxlength='60'] {
	width: 8rem;
}
#ajout .special_size_inputs input[maxlength='100'] {
	width: 15rem;
}

#ajout .bloc_add {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

#ajout #add{
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 0.25rem;
	background-color: #B8B8B8;
	box-sizing: border-box;
	padding: 0.5rem 1.75rem;
}