.div_page{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.div_page h4{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

/* On enlève tout le style par défaut des boutons */
button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    font: inherit;
    cursor: pointer;
    text-align: center;
}
button:hover,button:focus {
    outline: none
}
button:active {
    transform: scale(0.99);
}
/* On enlève tout le style par défaut des boutons */


.bandeau {
	margin: 0;
    padding: 0.5rem 1rem ;
    padding-right: 0.4rem;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.bandeau:hover {
	background: white;
}

.bandeau:active {
    color: white;
    transform: none;
}

.bandeau h3 {
    font-size: 1.1rem;
    margin:0;
    color: black;
}

.bandeau h3:hover, .bandeau h3:active {
    color: #00A3B8;
}

.fleche_expand {
    height: 0.6rem;
}

.fleche_expand_down {
    height: 0.6rem;
    transform: rotate(180deg);
}

.bloc {
    margin-bottom: 1rem;
}

.dropdown-content {
    /**display: none;    paramètre passé dans le html pour fonctionner avec la fonction js**/
    background-color: white;
    margin:0;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
}

select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(../vues/img/expand.png);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-color: #C4C4C4;
}

/* ================= PARTIE AJOUT ================= */

#ajout .indication {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
}

#ajout .ligne {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#ajout .ligne p {
    margin-top: 0;
    margin-bottom: 0;
}

#ajout .info{
    display:block;
    float:left;
    width:14rem;
    margin-right: 0.5rem;
}

#ajout .special_size_inputs  {
    width: 100%;
}

#ajout select {
    box-sizing:border-box;
    padding:0.5rem;
    border:none;
    border-radius:0.25rem;
    background-color:#DDD;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    padding-right: 1.75rem;
}

#ajout .bloc_boutons {
    width:100%;
}

#ajout .bloc_boutons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#ajout .bloc_boutons label {
    display: inline-block;
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid #00242C;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.25rem;
}

#ajout .bloc_boutons input[type="radio"]:checked + label {
    color: white;
    background-color: #00242C;
    border-color: #00242C;
}

#ajout .bloc_boutons button:hover, .bloc_boutons button:active {
    color: white;
    background-color: #00242C ;
}

#ajout .bloc_add {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#ajout #add{
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0.25rem;
    background-color: #00A3B8;
    box-sizing: border-box;
    padding: 0.5rem 1.75rem;
}


/* ========= Rajouts boitiiers ========= */

#ajout form h3 {
    margin : 0.5rem 0;
}

#ajout .partie {
    margin-bottom : 2rem;

}

/*  === Ligne AutRes === */

#ajout #ligneAutRes {
    display : flex;
    align-items: center;
    flex-wrap: wrap;
}

#ajout #ligneAutRes .nom {
    display : flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

#ajout #ligneAutRes .label_info{
    display : block;
    min-width: 5rem;
}
/*  === Ligne AutRes === */

#ajout .capteur p{
    margin-right: 2rem;
}


/* ====== Barre recherche ====== */

#recherche .barre_recherche {
	margin-bottom: 1rem;
	border:none;
	border-radius:0.25rem;
	background-color:#DDD;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

#recherche .barre_recherche input{
	box-sizing:border-box;
	padding: 0.5rem;
	border:none;
	border-radius: 0.25rem 0 0 0.25rem;
	background: none;
	font-size: 1rem;

	/* Firefox */
	width: -moz-calc(100% - 2rem);
	/* WebKit */
	width: -webkit-calc(100% - 2rem);
	/* Opera */
	width: -o-calc(100% - 2rem);
	/* Standard */
	width: calc(100% - 2rem)
}

#recherche .barre_recherche button[type="submit"] {
	width: 2rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recherche .barre_recherche button[type="submit"] img {
	height:1rem;
}

/* ====== Résultats ====== */

#recherche h3{
	font-weight: bold;
	font-size: 1.1rem;
}

#recherche table{
	border: none;
	border-spacing: 0;
	font-size: 0.7rem;
	width: 100%;
    margin-bottom: 2rem;
}

#recherche th{
	text-align: center;
	background-color: #888;
}

#recherche td{
	border: none;
	text-align: center;
}

#recherche tr:nth-child(odd) {
	background-color: #DDD;
}

#recherche tr:nth-child(even) {
	background-color: #C4C4C4;
}

#recherche td a {
    cursor: pointer;
}

#recherche td img {
    height: 2rem;
}

#recherche select {
    box-sizing:border-box;
    padding:0.3rem;
    border: none;
    background-color: white;
    border-radius:0.25rem;
    background-color: none;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-right: 1.75rem;
    font-size: 0.7rem;
}

#recherche table button {
    font-size: 0.7rem;
    border: none;
    background-color: white;
    border-radius:0.25rem;
    box-sizing: border-box;
    padding: 0.25rem;
    font-weight: 600;
}

/* ===== Pagination ===== */
#recherche .nav_pages{
    padding: 0.25rem; 
    display: flex;
    justify-content: center;
}

#recherche .nav_pages a {
    border: 1px solid #00A3B8;
    border-radius: 2px;
    text-decoration: None;
    color: black;
    font-size: 1rem;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0 0.25rem;
}

#recherche .nav_pages a.active {
    background-color: #00A3B8;
    color: white;
} 

#recherche .nav_pages a:hover:not(.active) {
    background-color: #9FD1DB;
} 

#recherche .nav_pages a.desac {
    color: #D1D1D1;
    border-color: #9FD1DB;
}

#recherche .nav_pages a.desac:hover {
    background-color: white;
}

/* ===== Pagination ===== */

