.div_page{
    width: 80%;
    margin: auto;
}

.div_page header {
    margin: 2rem;
    text-align: center;
}

.div_page header h2 {
    color: white;
    font-size: 1.2rem;
}

.content {
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.content h3 {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content img {
    max-width: 100%;
}

.content .liens{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

.content a {
    text-decoration: none;
    color: #00A3B8;
}