#recherche form h3{
	font-weight: bold;
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

/* ====== Barre recherche ====== */

#recherche .barre_recherche {
	margin-bottom: 1rem;
	border:none;
	border-radius:0.25rem;
	background-color:#DDD;
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

#recherche .barre_recherche input{
	box-sizing:border-box;
	padding: 0.5rem;
	border:none;
	border-radius: 0.25rem 0 0 0.25rem;
	background: none;
	font-size: 1rem;

	/* Firefox */
	width: -moz-calc(100% - 2rem);
	/* WebKit */
	width: -webkit-calc(100% - 2rem);
	/* Opera */
	width: -o-calc(100% - 2rem);
	/* Standard */
	width: calc(100% - 2rem)
}

#recherche .barre_recherche button[type="submit"] {
	width: 2rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recherche .barre_recherche button[type="submit"] img {
	height:1rem;
}


/* ====== Filtres ====== */

#recherche .filtres {
	display: flex;
}

#recherche .filtres label{
	font-weight: bold;
	font-size: 1.1rem;
	margin-right: 1rem;
	min-width: 7rem;
}

#recherche .div_select_filtres {
	display: flex;
	flex-wrap: wrap;
}

#recherche .filtres select{
	box-sizing: border-box;
	border:none;
	padding: 0.25rem;
	padding-right: 1.75rem;
	font-size: 1rem;
	font-weight: 200;
	margin:  0 0.5rem 0.5rem 0;
}

#recherche form .filtres {
	margin-bottom: 1rem;
}

/* ====== Résultats ====== */

#recherche h3{
	font-weight: bold;
	font-size: 1.1rem;
}

#recherche table{
	border: none;
	border-spacing: 0;
	font-size: 0.7rem;
}

#recherche th{
	text-align: center;
	background-color: #888;
}

#recherche td{
	border: none;
	text-align: center;
}

#recherche tr:nth-child(odd) {
	background-color: #DDD;
}

#recherche tr:nth-child(even) {
	background-color: #C4C4C4;
}