.div_page{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.div_page header h2 {
    margin: 2rem;
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

/* On enlève tout le style par défaut des boutons */
button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    font: inherit;
    cursor: pointer;
    text-align: center;
}
button:hover,button:focus {
    outline: none
}
button:active {
    transform: scale(0.99);
}
/* On enlève tout le style par défaut des boutons */

#recherche{
	border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    text-align: justify;
    margin-bottom: 2rem;
}

select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(../vues/img/expand.png);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-color: #C4C4C4;
}

