@font-face{
	font-family:ihm-font-regular;
	src:url('NunitoSans-Regular.ttf');
}
@font-face{
	font-family:ihm-font-light;
	src:url('NunitoSans-Light.ttf');
}
@font-face{
	font-family:ihm-font-bold;
	src:url('NunitoSans-Bold.ttf');
}
/**@import url('https://fonts.google.com/specimen/Nunito+Sans');**/
body{
	background-color: #212121 ;
}

label{
	margin-left:3%;
	font-family:ihm-font-regular;
	display:block;
	float:left;
	width:250px;
}

button{
	margin-right:1%;
	margin-bottom:1%;
	font-family:ihm-font-light;
	border-radius:0.25rem;
	background-color:white;
	box-sizing:border-box;
	padding:0.25rem 0.25rem;

}

button:hover{
	background-color:#B8B8B8 ;
}

h2{
	margin-left:3%;
	font-family: ihm-font-bold;

}

input{
	margin-right:1%;
	margin-bottom:1%;
	box-sizing:border-box;
	padding:0.5rem;
	border:none;
	border-radius:0.25rem;
	background-color:#DDD;
	width:60%;
}

#phone{
	margin-bottom:1%;
}

#day{
	width:5%;
}

#month{
	width:5%;
}

#year{
	width:10%;
}

#add{
	margin-left:35%;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 0.25rem;
	background-color: #B8B8B8;
	box-sizing: border-box;
	padding: 0.5rem 2rem;
}

#add:hover{
	
}

strong{
	font-size:12px;
	font-weight:normal;
}

form{
	border-bottom-left-radius:10px;
	border-bottom-right-radius: 10px ;
	border: 2px solid;
	border-color:#000000;
	background-color: #FFFFFF;
	margin-right:25%;
	margin-left:25%;
	margin-top:5%;
}